.DS_store
.idea
http_server.pid
static/videos/*
!static/videos/safevantage-demo-v3.mp4
!static/videos/safevantage-demo-v3.vtt
!static/videos/safevantage-demo-v3-poster.jpg
static/interpolation/
static/js/*
!static/js/index.js
!static/js/bulma-carousel.min.js
static/images/interpolate_*.jpg
static/images/steve.webm
static/css/bulma-carousel.min.css
static/css/bulma-slider.min.css
static/css/bulma.css.map.txt
